﻿@page "/blogs"
@page "/blogs/{Page:int}"
@inject AppState AppState
@inject BlogService BlogService
@inject GuardService GuardService

@if (AppState.Blogs == null || AppState.Blogs.Count <= 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <MatTable Items="@AppState.Blogs">
        <MatTableHeader>
            <th>Id</th>
            <th>Title</th>
            <th>Desc</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Title</td>
            <td>@context.Description</td>
        </MatTableRow>
    </MatTable>
}

@code {
    [Parameter]
    int Page { get; set; } = 1;

    protected override async Task OnInitAsync()
    {
        await GuardService.Check();

        var pagination = await BlogService.GetBlogs(Page);
        AppState.SetBlogs(pagination.Items);
    }
}