﻿@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject AppState AppState

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="@((e) => HideMenuClicked())"></MatIconButton>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <LoginDisplay />
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="mat">
            <MatDrawer Opened="@Opened">
                <NavMenu />
            </MatDrawer>
            <MatDrawerContent Style="padding-left: 25px; padding-right: 25px;">
                @Body
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@code {
    bool Opened = true;

    protected override async Task OnInitAsync()
    {
        AppState.OnChange += StateHasChanged;

        if (!AppState.IsLogin())
        {
            AppState.SetUserInfo(await JS.GetUserInfoAsync());
        }
    }

    void HideMenuClicked()
    {
        Opened = !Opened;
    }
}
