@inject IJSRuntime JS
@inject AppState AppState

<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link" href="profile" style="color: #fff;">Hello, @context.User.Identity.Name!</NavLink>
        <MatButton Raised="true" OnClick="@LogOut" Style="margin-left: 10px;">Logout</MatButton>
    </Authorized>
    <NotAuthorized>
        <MatButton Raised="true" OnClick="@LogIn">Login</MatButton>
    </NotAuthorized>
</AuthorizeView>

@code {
    async Task LogIn()
    {
        await JS.SignInAsync();
    }

    async Task LogOut()
    {
        await JS.SignOutAsync();
    }
}
